@model SPIFFEWorkloadApiGadget.Result
@if (!String.IsNullOrWhiteSpace(Model.Message)){
    <h6 class="card-subtitle mb-2 text-muted">Message</h6>
    <div>@Model.Message</div>
}

@if (Model.JwtTokens != null && Model.JwtTokens.Any())
{
    <h6 class="card-subtitle mb-2 text-muted mt-3">SVIDs received</h6>
    <table class="table table-striped table-hover table-sm table-bordered">
        <thead>
        <tr>
            <th>SVID</th>
            <th>JWT Token</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var token in Model.JwtTokens)
        {
        <tr>
            <td class="inspector-key text-nowrap">@token.Key</td>
            <td class="inspector-value"><a href="https://jwt.ms/#access_token=@(token.Value)" target="_blank" title="Decode this access token">decode</a></td>
        </tr>
        }
        </tbody>
    </table>
}