@model Exception
@if (Model != null)
{
    <div class="card text-white bg-warning">
        <h5 class="card-header">
            Exception
            <small class="text-muted float-right">@DateTimeOffset.UtcNow.ToString("u") (UTC)</small>
        </h5>
        <div class="card-body">
            <pre>@Model.ToString()</pre>
        </div>
    </div>
}