@model IList<KeyValuePair<string, string>>
@if (Model != null && Model.Any())
{
    <table class="table table-striped table-hover table-sm table-bordered table-responsive">
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-nowrap">@HtmlEncoder.Encode(item.Key)</td>
                <td style="width: 100%;">@HtmlEncoder.Encode(item.Value ?? string.Empty)</td>
            </tr>
        }
    </table>
}