@model IList<InspectorValue>
@if (Model != null && Model.Any())
{
    <table class="table table-striped table-hover table-sm table-bordered">
        @foreach (var item in Model)
        {
            <tr>
                <td class="inspector-key text-nowrap">@(item.DisplayName)</td>
                <td class="inspector-value">@(item.Value?.ToString() ?? string.Empty)</td>
            </tr>
        }
    </table>
}