@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<ol class="list-inline">
    @foreach (var group in InspectorGroup.AllGroups)
    {
        <li class="list-inline-item">&raquo; <a href="#@group.Key">@group.DisplayName</a></li>
    }
</ol>

@foreach (var group in InspectorGroup.AllGroups)
{
    <a name="@group.Key"></a>
    <h3>@group.DisplayName</h3>
    @if (group.Key == nameof(InspectorInfo.Configuration))
    {
        <div class="alert alert-secondary">
            <b>Note:</b> this doesn't show values that are also available as <a href="#environment">environment variables</a>
            in order to avoid duplication (as environment variables are also considered to be configuration settings).
        </div>
        <div class="alert alert-secondary">
            <b>Tip:</b> to easily distinguish multiple instances of this app, you can change the background color by setting
            the <code>BackgroundColor</code> configuration setting, and add an informational message by setting the
            <code>InfoMessage</code> configuration setting.
        </div>
    }
    <partial name="_Table" model="Model.InspectorInfo.GetValues(group.Key)" />
}
