@model GadgetResponse<IntrospectorGadget.Result>
@if (Model != null)
{
    <div class="card mt-3">
        <h5 class="card-header">
            Response from <code>@Model.MachineName</code>
            <small class="text-muted float-right">@Model.TimeStarted.ToDisplayString()</small>
        </h5>
        @if (!string.IsNullOrWhiteSpace(Model.Error))
        {
            <div class="card-body text-white bg-warning">
                <pre>@Model.Error</pre>
            </div>
        }
        @if (Model.Result != null)
        {
            <div class="card-body">
                <pre>@Model.Result.ResponseBody</pre>
            </div>
        }
    </div>

    <partial name="IntrospectorResponsePartial" model="Model.ChainedResponse" />
}